<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GALLERY PAGE</title>
    <link rel="stylesheet" href="/style.css" />
</head>
<body>
    
    <button id="about-button">
    <a href="about">About</a>
    </button>


    <button id="works-button">
        <a href="works">Works</a>
    </button>

    <button id="home-button">
        <a href="home">Back to home</a>
    </button>

    <div class="container">
        <h1>Pictures</h1>
        
      </div>

    
</body>
</html>