<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css" />
    <title>MI PAGINA 😎</title>
</head>
<body>
    <div id="main">
    <h1>PERSONAL WEBSITE</h1>
    
    <div class="container">
        <p>Welcome to my world</p>
        
    </div>
    
    <img id="backg" src="/images/fondo.jpeg" alt="Project 1">
</div>
    <button id="about-button">
    <a href="about">About</a>
    </button>


    <button id="works-button">
        <a href="works">Works</a>
    </button>

    <button id="gallery-button">
        <a href="gallery">Gallery photos</a>
    </button>

</body>
</html>