<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <button id="about-button">
        <a href="about">About</a>
        </button>
    
        <button id="home-button">
            <a href="home">Back to home</a>
        </button>
    
        <button id="gallery-button">
            <a href="gallery">Gallery photos</a>
        </button>
        <div class="container">
            <h1>Proyects</h1>
            <p>Some of my completed projects.</p>
           
          </div>
        
</body>
</html>